@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.section{
    width: 100%;
    min-height: 60rem;
    background:linear-gradient(to right,#E9F8FF,#90b2d8,#c1e3ff);
   }
   .container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 100px;
   }
   .content-section{
    float: left;
    width: 60%;
   }

   .image-section{
     float:right;
     width: 35%;
     position:relative;
     top: 5rem;
   }
   .image-section img {
     width: 90%;
     height: auto;
   }


   .content-section .title{
    text-transform: uppercase;
    font-size: 28px;
   }

   .content-section .content p{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 1.75rem;
    line-height: 1.5;
   }
   .content-section .content .button{
    margin-top: 30px;
   }
   .content-section .content .button a{
    background-color: darkcyan;
    padding:12px 40px;
    text-decoration: none;
    color:#fff;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
   }
   .content-section .content .button a:hover{
    background-color: #a52a2a;
    color:#fff;
   }
   .content-section .social{
    margin: 40px 40px;
   }
   .content-section .social i{
    color: darkcyan;
    font-size: 5rem;
    padding:0px 1rem;
   }
   .content-section .social i:hover{
    color: #a52a2a;
   }
   @media screen and (max-width: 768px){
    .container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top:50px;
   }
   .content-section{
    float:none;
    width:100%;
    display: block;
    margin:auto;
   }
   .image-section{
    float:none;
    width:100%;
    position:static;
    
   }
   .image-section img{
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 2rem;
   }
   .content-section .title{
    text-align: center;
    font-size: 19px;
   }
   .content-section .content .button{
    text-align: center;
   }
   .content-section .content .button a{
    padding:9px 30px;
   }
   .content-section .social{
    text-align: center;
   }
   
   }
   
   
   
   
