.review{
    display: block;
background-color: #f1f8fc;
  }
  
  .review .box{
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.3);
    padding:2rem;
    flex:1 1 30rem;
  }
  
  .review .box .student{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .review .box .student .student-info{
    display: flex;
    align-items: center;
  }
  
  .review .box .student i{
    font-size: 6rem;
    color: darkcyan;
    opacity: .5;
  }
  
  .review .box .student .student-info img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width:7rem;
    margin-right: 1.5rem;
  }
  
  .review .box .student .student-info h3{
    font-size: 2rem;
    color:#333;

  }
  
  .review .box .student .student-info span{
    font-size: 1.5rem;
    color:var(--pink);
  }
  
  .review .box .text{
    padding:1rem 0;
    font-size: 1.6rem;
    color:#666;
  }
  